APP_NAME="Plasti Frus - Sistema de Gestión"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_TIMEZONE=America/Mexico_City
APP_CURRENCY=MXN
SESSION_TIME=3600

DB_HOST=localhost
DB_NAME=fabrica_plasticos
DB_USER=root
DB_PASS=

MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=no-reply@plastifrus.com
MAIL_FROM_NAME="Plasti Frus"
